#AuthBlock {
  height: 100vh;
  width: 100%;
  position: fixed;
  top: 0;
}

#AuthBlock article {
  width: 80%;
  align-items: center;
  justify-content: center;
  display: flex;
  margin: auto;
  height: 100vh;
}

#AuthBlock article main {
  background: #000;
  height: auto;
  width: 35%;
  padding: 30px 50px;
}

#AuthBlock article main form {
  display: flex;
  flex-direction: column;
}

#AuthBlock article main h2 {
  font-size: 30px;
  color: #fff;
  padding: 10px;
}

#AuthBlock article main form input {
  width: 100%;
  background-color: #333;
  border: 1px solid #333;
  padding: 13px;
  border-radius: 3px;
  margin: 10px 0;
  color: #fff;
}

#AuthBlock article main form button {
  width: 100%;
  display: block;
  background-color: red;
  color: #fff;
  font-weight: bold;
  font-size: 17px;
  padding: 10px;
  border-radius: 3px;
  border: none;
  margin: 20px 0;
}
::placeholder {
  color: #fff;
}

.loginDesc {
  margin-top: -20px;
}
.needHelp {
  display: flex;
  font-size: 12px;
  text-transform: capitalize;
}

.needHelp span {
  flex: 1;
}
.needHelp span input[type="checkbox"] {
  width: auto !important;
}
.needHelp b {
  margin: -6px 1px;
  color: #999;
  position: relative;
  top: -2px;
}

.needHelp span:nth-child(2) {
  text-align: right;
  margin: 4px 2px;
}
.needHelp span:nth-child(2) a {
  color: #999;
  text-decoration: none;
}
.needHelp span:nth-child(2) a:hover {
  text-decoration: underline;
}
.loginDesc footer {
  color: #999;
  font-size: 13px;
  margin: 10px 0px;
}

.loginDesc footer i {
  background: #4267b2 !important;
  font-size: 16px;
  margin: 0 10px 0 0;
  width: 25px;
  height: 25px;
  color: #fff;
  padding: 6px 10px;
  border-radius: 3px;
}

.loginDesc footer > div {
  display: flex;
}

.loginDesc footer > div:nth-child(2) {
  padding: 10px 0;
  width: 100%;
  display: block;
}

.loginDesc footer > div:nth-child(2) a {
  color: #fff;
  font-size: 16px;
  text-decoration: none;
  padding-left: 5px;
}

.otpLink {
  color: #fff;
  text-decoration: none;
  background: #111;
  padding: 2px 10px;
  border-bottom: 1px solid red;
  width: 100%;
  display: block;
  margin: 10px 0;
  font-size: 12px;
}
.otpLink:hover {
  background-color: red;
  color: #fff;
}

.or {
  width: 36px;
  height: 36px;
  background: red;
  text-align: center;
  border-radius: 100%;
  line-height: 39px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.orBlock {
  width: 100%;
  display: flex;
  justify-content: center;
  padding-bottom: 11px;
  flex-direction: column;
  align-items: center;
}
